*{ margin: 0;
    padding:0%

}

.cabeçalho
    {
        background-color: #2b975c;
    color :white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    .cabeçalho-imagem { width: 9%
    }
    .cabeçalho-lista-item{
        display:inline-block;
        margin:0 16px;
        font-size: 24px;
        
    }
   
